<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockInsight</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Bem-vindo ao StockInsight!</h1>
    <form method="POST">
        <label for="ticker">Digite o ticker da ação:</label>
        <input type="text" id="ticker" name="ticker">
        <button type="submit">Pesquisar</button>
    </form>

    {% if erro %}
        <div class="error-message" style="color: red;">
            <p>{{ erro }}</p>
        </div>
    {% endif %}
</body>
</html>
